*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background: #ffffff;
}

nav{
  background: #3b141c; 
  padding: 50px;
  font-size:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  color: #ffffff;
  font-size:50px;
  font-family: 'Miniver', sans-serif
}

.logo span{
  font-family: 'Miniver', sans-serif
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a.active{
  font-weight:bold;
}

.galeria{
  padding: 60px 10%;
  text-align: center;
}

.titulo{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 60px;
  position: relative;
  display: inline-block;
  color:#252525;
}

.titulo::after{
  content: "";
  width: 180px;
  height: 5px;
  background: #f3961c;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.grid-galeria{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
}

.img-container{
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0px 12px 0px #ffffff;
}

.img-container img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: 0.3s ease;
}

.img-container:hover img{
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {

  nav{
    flex-direction: column;
    align-items: center;
    padding:15px 20px;
    gap:10px;
  }

  .nav-links{
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
  }

  .logo{
    font-size:35px;
    text-align: center;
  }

  .nav-links a{
    font-size:16px;
  }

  .galeria{
    padding:40px 5%;
    text-align: center;
  }

  .titulo{
    font-size:32px;
  }

  .titulo::after{
    width:147px;
    height:4px;
    bottom:-6px;
  }

  .grid-galeria{
    grid-template-columns: 1fr; 
    gap:50px;
  }

  .img-container img{
    height:250px;
  }
}