* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    background: #3b141c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.logo {
    color: #ffffff;
    font-size: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo span {
    font-family: 'Miniver', sans-serif;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a.active{
  font-weight:bold;
}

.nav-links a:hover {
    color: #f3961c;
}

.menu-section {
    background: #ffffff;
    padding: 80px 120px;
    text-align: center;
}

.menu-section h1 {
    font-size: 45px;
    margin-bottom: 50px;
    color: #252525;
    position: relative;
}

.menu-section h1::after {
    content: "";
    display: block;
    width: 155px;
    height: 6px;
    background: #f3961c;
    margin: 12px auto;
    border-radius: 5px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    max-width: 1200px;
    margin: auto;
}

.menu-card {
    background: #3b141c;
    border-radius: 16px;
    padding: 45px 50px;
    color: #ffffff;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
}

.menu-card img {
    width: 150px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-content h2 {
    font-size: 20px;
}

.card-content p {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
}

.card-buttons {
    display: flex;
    gap: 50px;
}

.order-btn {
    background: #f3961c;
    border: none;
    padding: 9px 18px;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

.order-btn:hover {
    background: #f3961c;
}

@media screen and (max-width: 768px) {

    .menu-grid {
        grid-template-columns: 1fr; 
        gap: 50px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
        gap: 20px;
    }

    .nav-links {
        flex-wrap: wrap;
        gap: 15px;
    }

    .logo {
        font-size: 35px;
        text-align: center;
    }

    .nav-links a {
        font-size: 16px;
    }

    .menu-section {
        padding: 40px 20px;
    }

    .menu-section h1 {
        font-size: 38px;
    }

    .menu-section h1::after {
        width: 100px;
        height: 4px;
    }

    .menu-card {
        padding: 25px 20px;
        height: auto;
    }

    .menu-card img {
        width: 120px;
    }

    .card-content h2 {
        font-size: 16px;
    }

    .card-content p {
        font-size: 13px;
    }

    .order-btn {
        font-size: 14px;
        padding: 7px 14px;
    }

    .card-buttons {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}


.toast {
  position: fixed;
  top: 80px;
  right: 5%;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease;
}
.toast.show {
  opacity: 1;
  transform: translateY(0);
}